<mat-toolbar>Menu</mat-toolbar>
<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" [routerLinkActive]="['router-link-active']">
    <mat-icon matListIcon>home</mat-icon>
    <div mat-line>Home</div>
  </a>
  <a mat-list-item routerLink="/client" [routerLinkActive]="['router-link-active']">
    <mat-icon matListIcon>people</mat-icon>
    <div mat-line>Clientes</div>
  </a>
  <a mat-list-item routerLink="/loan" [routerLinkActive]="['router-link-active']">
    <mat-icon matListIcon>monetization_on</mat-icon>
    <div mat-line>Creditos</div>
  </a>
</mat-nav-list>
