<mat-card>

  <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
    <span *ngIf="!isEditMode">Crear Cliente</span>
    <span *ngIf="isEditMode">Editar Cliente</span>
    <!--button (click)="onAddAddress()" mat-raised-button>Agregar dirección</button-->
  </mat-card-title>

  <div fxLayout="column">
    <div fxLayout="row">
      <mat-form-field *ngIf="isEditMode">
        <mat-label>ID</mat-label>
        <input matInput disabled value="{{selecteClientdId}}">
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="20px">
      <mat-form-field appearance="standard">
        <mat-label>Identificación</mat-label>
        <input matInput [(ngModel)]="clientModel.identification">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Nombres</mat-label>
        <input matInput [(ngModel)]="clientModel.firstName">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Apellidos</mat-label>
        <input matInput [(ngModel)]="clientModel.lastName">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Telefono 1</mat-label>
        <input matInput [(ngModel)]="clientModel.telephone1">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Telefono 2</mat-label>
        <input matInput [(ngModel)]="clientModel.telephone2">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="clientModel.email">
      </mat-form-field>
      <ng-container *ngFor="let addressModel of addressesModel; let i = index">
        <mat-form-field appearance="standard">
          <mat-label>Direccion</mat-label>
          <input matInput [(ngModel)]="addressesModel[i].streetAddress">
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Departamento</mat-label>
          <mat-select [(ngModel)]="addressesModel[i].departmentID" (ngModelChange)="fillCitiesBySelectedDepartment(i)">
            <mat-option *ngFor="let d of departments" [value]="d.id">{{d.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Ciudad</mat-label>
          <mat-select [(ngModel)]="addressesModel[i].cityID" [disabled]="!addressesModel[i].departmentID">
            <mat-option *ngFor="let c of citiesByDeparmentSelected[i]" [value]="c.id">{{c.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="i > 0">
          <button (click)="onRemoveddress(i)" mat-raised-button color="accent">Remover</button>
        </div>
      </ng-container>
    </div>
  </div>

  <mat-divider></mat-divider>

  <mat-card-actions fxLayout="row-reverse">
    <button (click)="onSave()" mat-raised-button color="primary">Guardar</button>
    <button (click)="onCancel()" mat-raised-button>Cancelar</button>
  </mat-card-actions>


</mat-card>