<div class="main-container">
  <header class="header">
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>apps</mat-icon>
      </button>
      <div routerLink="/" class="pl-15">HyE Loans</div>
      <span class="spacer"></span>
    </mat-toolbar>
  </header>

  <aside class="side-nav">
    <nav>
      <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']">
        <i class="fa fa-fw fa-home"></i> Dashboard
      </a>
      <a routerLink="/client" [routerLinkActive]="['router-link-active']">
        <i class="fa fa-fw fa-home"></i> Clientes
      </a>
      <a routerLink="/loan" [routerLinkActive]="['router-link-active']">
        <i class="fa fa-fw fa-home"></i> Creditos
      </a>
    </nav>
  </aside>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>