.content {
  padding-left: 16px;
    padding-right: 16px;
  height: 100%;
  background-color: #ececec;
  display: grid;
  grid-template-rows:
    auto
    1fr;
  grid-template-areas:
    "ct"
    "cs";
  .content-top {
    
    grid-area: ct;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .top-bar-title {
      color: rgba(0, 0, 0, 0.55);
      font-size: 24px;
      font-weight: 400;
    }
  }

  .content-section {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    display: grid;
    background-color: #ffffff;
  }
}

.filter-row {
  width: 100%;
}
